.features-icons-item a{
    text-decoration: none;
}
.btn-floating{
    border-radius: 32px;
}
.btn-floating.features-icons-item a{
    color: inherit;
}
header.masthead {
    background-position: top center;
}
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}
footer.footer{
    padding-top: 0;
    padding-bottom: 0;
}